body{
    background-color: #353535;
    overflow-x: hidden;
}

.header /* the div that has rono logo and the contact us button*/
{
   /* position: fixed;*/
    display: flex;                                               /* That what puts the divs next to each other in same line.*/
    justify-content: space-between;                             /* That what puts the divs at the end of the line.*/
    align-items: flex-start;
    
}

.Logo_root__QiOW9                                               /* the logo div*/
{
   align-items: flex-start;
   width: 135px;
   margin-left: 110px;
   margin-top: 15px;
}

.contactDiv                                                     /*The div that has "contact us" button. */
{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 50px;
}
#contactButton                                                  /*inside the contactDiv*/
{
    display: flex;
    width: 200px;
    border-radius:50px;
    align-items: center;
    background-color: #24FFBA;
}
.contactIconDiv                                                  /*inside the contactButton*/
{
    
    align-self: center;
    margin-left: 18px;
    height: 30px;
    width: 30px;
}
.contactTextDiv
{
    align-self: center;
    height: 50px;
    width: 105px;
}
.contactText
{
    align-self: center;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 16px;
    font-size: 18px;
}
.ContactButton_Property1Default_icon__zPaqa
{
    align-self: center;
    height: 25px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    
}

.midOfHeader    
{
    display: flex;
    align-items: flex-start;
}
.firstMidOfHeader
{
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    margin-left: 150px;
}
.secondMidOfHeader
{
    align-self: center;
    margin-left: 150px;
    width: 550px;
}
.thirdMidOfHeader
{
    width: 450px;
    left: 450px;
    margin-top: 75px;
    position: absolute;
    left: 1300px;

}
.TextOf1stMidHeader
{
    align-self: center;
}
.ArrowShape
{
    align-items: self-start;
    width: 150px;
    height: 100px;
    margin-top: 345px;
    margin-left: -190px;
}
.TextOf1stMid
{
    color: white;
    font-size: 100px;
}
.Desktop1440Responsive_icon13__IA1Tp
{
    align-self: center;
    height: 25px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
.Desktop1440Responsive_icon3__gU7Dh
{
    align-self: center;
    height: 25px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
.Desktop1440Responsive_icon2__VZDEt
{
    align-self: center;
    height: 25px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.lampDiv
{
    display:flex;
    margin-top: 150px;
    align-self: center;
    align-items: flex-start;

}
.lampIconDiv
{
    margin-top: 15px;
    width: 100px;
    height: 100px;
    margin-left: 350px;
}
.lampTextDiv
{
    margin-left: 50px;
}
.AsRonoWeSupportOurCustomersToI_icon__mvouR
{
    align-self: center;
    height: 25px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    
}
.lampText
{
    font-size: 25px;
    color: white;
}

.card
{
    display: flex;
    fill:rgb(220, 220, 220);
    position: relative;
    margin-top: 50px;
    z-index: 1;                                     /* this line will allow overlapping the higher the number the front it will become*/
}
.Desktop1440Responsive_icon__H5+uN
{
    position: absolute;

}
.sol_Div
{
    display: flex;
    z-index: 2;
    
}
.solutions
{
    font-weight: bold;
    font-family:Instrument Sans,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
    font-size: 64px;
    color:#353535;
}